* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100%;
    overflow: hidden;
}

main {
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

section {
    width: 50%;
    height: 100%;
}

section img,
section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

footer,
nav,
ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
}

li:not(:first-child) {
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: #000;
}

a.active {
    text-decoration: underline;
}